.card4 {
    width: 300px;
    height: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    position: relative;
    background: white;
    text-align: center;
}

.card10 {
    margin-top: 120px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    justify-content: space-around;
}

.card4 h2 {
/* background: rgb(238, 0, 217);
    background: linear-gradient(45deg, rgba(238, 0, 217, 1) 0%, rgba(17, 180, 237, 1) 35%, rgba(180, 0, 250, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 20px;
    font-weight: bold;
}

/* .module-border-wrap {
    max-width: 250px;
    padding: 3px;
    background: linear-gradient(to right, pink, blueviolet, lightblue);
    display: flex;
    align-items: center;
    justify-content: center;

} */

.card4 span {
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module2 {
      background: rgb(238, 0, 217);
    background: linear-gradient(45deg, rgba(238, 0, 217, 1) 0%, rgba(17, 180, 237, 1) 35%, rgba(180, 0, 250, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.card10 button {
    width: 80px;
    font-size: small;
    font-weight: bold;

}

.card4 p {
    font-size: smaller;
}

.card4 h1 {
    height: 100px;
    width: 100px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .module-border-wrap:hover .span {
    background-color: transparent;
    transition: 1s ease;
} */

/* .module-border-wrap:hover .module2 {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s ease;
} */

.number {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1s all;
}

.number h1 {
    color: white;
    font-size: 100px;

}

.card4:hover .number {
    height: 115px;
    width: 115px;
    transform: translate(-50%, -120%);
    border-radius: 50%;
    padding: 3px;
    background: rgb(238, 0, 217);
        background: linear-gradient(45deg, rgba(238, 0, 217, 1) 0%, rgba(17, 180, 237, 1) 35%, rgba(180, 0, 250, 1) 100%);

}

.card4:hover .number h1 {
    font-size: 35px;
}

.card4:hover img {
    border-radius: 50%;
}

.card4:hover .number span {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card4:hover .module1 {
    background: rgb(238, 0, 217);
        background: linear-gradient(45deg, rgba(238, 0, 217, 1) 0%, rgba(17, 180, 237, 1) 35%, rgba(180, 0, 250, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card10 button {
    color: white;
    padding: 5px;
}
.card4 img{
    z-index: 5;
}

.card4 button {
    text-transform: capitalize;
    width: 100px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    background-color: black;
    color: white;
    z-index: 1;
}

.card4 button::before {
    content: '';
    background: rgb(238, 0, 217);
    background: linear-gradient(45deg, rgba(238, 0, 217, 1) 0%, rgba(17, 180, 237, 1) 35%, rgba(180, 0, 250, 1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;

}

.card4 button:hover:before {
    transform: translateX(0);
    transition: 0.5s ease;
}